<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<p id='message'>

</p>
<p id='notif' style="color:red">
<p id='notice' style="color:blue">
<p id='online' style="color:green">
<p id='offline' style="color:brown">
<p id='newmessage' style="color:orangered">
<p id='talk' style="color:orangered">

</p>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    // var socket = io.connect('http://localhost:8000');
    var options = {}

    let port = "<%= port %>"
    port = port?port:3000;
    console.log('port is ');
    console.log(port);
    var socket = io(`http://localhost:${port}`, options);
    let token = "<%= token %>"

    socket.on('connect', function () {
        socket.on('authenticated', function () {
            console.log('not connected');
        }).emit('authenticate', {token: token}); //send the jwt
        socket.on('message', function (msg) {
            console.log(msg.details);
            document.getElementById("message").innerHTML = document.getElementById("message").innerHTML + '     ' + msg.message;
        });
        socket.on('userjoin', function (msg) {
            console.log(msg.details);
            document.getElementById("notif").innerHTML = document.getElementById("notif").innerHTML + '     ' + msg.message;
        });
        socket.on('new_friend', function (msg) {
            console.log('the new friend is here');
            console.log(msg.details);
            document.getElementById("notif").innerHTML = document.getElementById("notif").innerHTML + '     ' + msg.message;
        });
        socket.on('friend_request', function (msg) {
            console.log('please add him as your friend .');
            console.log(msg.details);
            document.getElementById("notice").innerHTML = document.getElementById("notice").innerHTML + '     ' + msg.message;
        });
        socket.on('friend_login', function (msg) {
            console.log('user as become online');
            console.log(msg.details);
            document.getElementById("online").innerHTML = document.getElementById("online").innerHTML + '     ' + msg.message;
        });socket.on('friend_online', function (msg) {
            console.log('user as become online');
            console.log(msg.details);
            document.getElementById("online").innerHTML = document.getElementById("online").innerHTML + '     ' + msg.message;
        });
        socket.on('online_friends', function (msg) {
            console.log('online friends are as follow ');
            console.log(msg.message);
            document.getElementById("online").innerHTML = document.getElementById("online").innerHTML + '     ' + 'online friends are as follow '+ JSON.stringify(msg);
        });
        socket.on('friend_offline', function (msg) {
            console.log('friend user has become offline');
            console.log(msg.details);
            document.getElementById("online").innerHTML = document.getElementById("online").innerHTML + '     ' + msg.message;
        });
        socket.on('talk', function (msg) {
            console.log('there is a message for u ');
            console.log(msg);
            document.getElementById("talk").innerHTML = document.getElementById("online").innerHTML + '     ' + msg.message;
        });
    });

</script>
</body>
</html>